In [54]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [55]:
# Step 1: Get the HTML content
url = "https://en.wikipedia.org/wiki/List_of_capitals_in_the_United_States"
response = requests.get(url)
response.raise_for_status()  # Raises an error for bad responses
html_content = response.text
#html_content

In [56]:
# Step 2: Parse the HTML with BeautifulSoup
soup = BeautifulSoup(html_content, "lxml")
#soup

In [57]:
# Step 3: Find the correct table
table = soup.find("table", class_="wikitable plainrowheaders sortable")
#table

In [58]:
# Step 4: Extract data from the table
states = []
capitals = []

for row in table.find_all("tr")[1:]:  # Skip header row
    cells = row.find_all("td")
    header = row.find("th")  # Contains the capital city name

    if len(cells) >= 1 and header:
        capital = header.text.strip()
        state = cells[0].text.strip()
        capitals.append(capital)
        states.append(state)

In [59]:
df = pd.DataFrame({
    "State": states,
    "Capital City": capitals
})

In [60]:
print(df)

             State    Capital City
0          Alabama      Montgomery
1           Alaska          Juneau
2          Arizona         Phoenix
3         Arkansas     Little Rock
4       California      Sacramento
5         Colorado          Denver
6      Connecticut        Hartford
7         Delaware           Dover
8          Florida     Tallahassee
9          Georgia         Atlanta
10          Hawaii        Honolulu
11           Idaho           Boise
12        Illinois     Springfield
13         Indiana    Indianapolis
14            Iowa      Des Moines
15          Kansas          Topeka
16        Kentucky       Frankfort
17       Louisiana     Baton Rouge
18           Maine         Augusta
19        Maryland       Annapolis
20   Massachusetts          Boston
21        Michigan         Lansing
22       Minnesota      Saint Paul
23     Mississippi         Jackson
24        Missouri  Jefferson City
25         Montana          Helena
26        Nebraska         Lincoln
27          Nevada     Carson City
28   New Hampshire         Concord
29      New Jersey         Trenton
30      New Mexico        Santa Fe
31        New York          Albany
32  North Carolina         Raleigh
33    North Dakota        Bismarck
34            Ohio        Columbus
35        Oklahoma   Oklahoma City
36          Oregon           Salem
37    Pennsylvania      Harrisburg
38    Rhode Island      Providence
39  South Carolina        Columbia
40    South Dakota          Pierre
41       Tennessee       Nashville
42           Texas          Austin
43            Utah  Salt Lake City
44         Vermont      Montpelier
45        Virginia        Richmond
46      Washington         Olympia
47   West Virginia      Charleston
48       Wisconsin         Madison
49         Wyoming        Cheyenne